footer {
    padding: var(--distance-primary) 0
}

footer p {
    width: 60%;
    margin: 0 auto;
    font-size: 20px;
    color: var(--color-lightest);
    text-transform: capitalize;
    text-align: center
}