.library-card {
    flex-basis: 100%;
    justify-content: space-between;
    align-items: center;
    margin-top: var(--distance-small) !important;
    border-bottom: 1px solid var(--color-light);
    text-transform: capitalize
}

.library-card:last-child {
    border-bottom: none
}

.library-card li {
    padding-bottom: var(--distance-small);
}

.library-card li figure {
    width: 80px;
    height: 80px;
    border-radius: var(--distance-secondary);
}

.library-card li figure img {
    width: 100%;
    height: 100%;
    object-fit: cover
}

.library-card li h3 {
    margin: 0 0 4px 0;
    color: var(--color-lightest)
}

.library-card li span {
    color: var(--color-light)
}